*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* list-style: none; */
}

/* roots variable */

:root {
  --color-primary: #222831;
  --color-primary-light: #393e46;
  --color-secondary-dark: #0092ca;
  --color-secondary-light: #eeeeee;
  --navbar-color: #0092ca;
  --color-headings: #0092ca;
  --color-body: #333333;
  --color-white: #fff;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--color-body);
  font-family: "sans";
  font-size: 1.4rem;
  line-height: 2;
}

h1,
h2,
h3 {
  color: var(--color-primary);
  font-family: "sans";
  font-weight: 700;
}

h1 {
  font-size: 2.5rem;
}

h2,
h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

input,
textarea {
  display: block;
  outline: 0;
  border: 0;
}

textarea {
  resize: none;
}

::placeholder {
  color: #707070;
  font-family: "sans";
}

/* @media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 5rem;
  }

  h2,
  h3 {
    font-size: 3.5rem;
  }
} */

/* app */

#app {
  height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: var(--color-primary);
}

/* sidebar */

.sidebar {
  position: sticky;
  width: 15vw;
  height: 100vh;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--navbar-color);
  align-items: center;
  padding: 1rem;
  border-radius: 2rem 0 0 2rem;
}

.app__name {
  font-size: 2.5rem;
}

.notes__container {
  width: 90%;
  flex-grow: 1;
  margin-top: 2rem;
  overflow-y: auto;
}

.notes__container::-webkit-scrollbar {
  display: none;
}

.note__list {
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: minmax(100%, 1fr);
  grid-auto-rows: 250px;
  list-style: none;
}

.note__list-item {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary);
  border-radius: 8px;
  padding: 1.5rem;
  cursor: pointer;
}

.note__list-item.selected-note {
  background-color: var(--color-secondary-light);
}

.side__note-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  border-bottom: 1px solid gray;
}

.side__note-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  color: red;
  font-size: 1.5rem;
}

.side__note-title {
  color: var(--color-secondary-light);
  margin-bottom: 1rem;

}

.selected-note :is(.side__note-detail, .side__note-title) {
  color: var(--color-primary);
}

.side__note-detail {
  flex-grow: 1;
  color: var(--color-secondary-light);
  text-align: justify;
  line-height: 1.7;
  overflow: hidden;
  font-style: italic;
  padding: 0 0.7rem;
}
.side__note-date {
  font-size: 1rem;
  color: #a7a7a7;
  align-self: flex-end;
}

.selected-note .side__note-date {
  color: #606060;
}

.add__note {
  background-color: transparent;
  border: none;
  font-size: 2.5rem;
  align-self: flex-end;
  cursor: pointer;
  color: var(--color-primary);
  transition: all 0.3s ease-in-out;
  margin-top: 1rem;
  padding: 1rem;
}

.add__note:hover {
  color: var(--color-secondary-light);
  transition: all 0.3s ease-in-out;
  transform: translateY(-0.5rem);
}

/* main content */

.main__content {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.note__title {
  border: 1px solid black;
  border-radius: 8px;
  background-color: var(--color-secondary-light);
  padding: 3rem;
  width: 50%;
  height: 7rem;
  margin-bottom: 2rem;
  font-family: "sans";
  font-size: 2rem;
  font-weight: 600;
}

.note__detail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  flex-grow: 1;
  padding: 3rem;
  border-radius: 8px;
  font-family: "sans";
  font-size: 1.5rem;
  text-align: justify;
  line-height: 2.5;
  text-indent: 10rem;
}
